.none {
  display: none;
  width: 900px;
  text-align: start;
  margin-left: 50px;
}

body {
  background-color: purple;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 25px;
  color: blanchedalmond;
  width: 80%;
  text-align: center;
}

button {
  text-align: center;
  width: 90px;
  border-radius: 20px;
}

a {
  color: white;
}

.Awm {
  margin-left: 150;
  width: 900px;
}
