.none {
  display: none;
  width: 900px;
  text-align: start;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: purple;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 25px;
  color: blanchedalmond;
  width: 100%;
  text-align: center;
}

button {
  text-align: center;
  font-size: 2.5rem;
  padding: 20px 30px;
  border-radius: 20px;
}

a {
  color: white;
}

.Awm {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
